# IDE specific files and folders #
.idea/

# Build system files #
.gradle/

# Build artefacts #
build/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

